process {
    withName: SAMTOOLS_SORT {
        ext.prefix = params.skip_deduplication ? { "${meta.id}.sorted" } : { "${meta.id}.deduplicated.sorted" }
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/deduplicated/" },
                mode: params.publish_dir_mode,
                pattern: "*.deduplicated.sorted.bam"
            ],
            [
                path: { "${params.outdir}/${params.aligner}/alignments/" },
                mode: params.publish_dir_mode,
                pattern: "*.sorted.bam",
                enabled: params.skip_deduplication
            ],
            [
                path: { "${params.outdir}/${params.aligner}/deduplicated/" },
                mode: params.publish_dir_mode,
                pattern: "*markdup*.bam",
                enabled: params.save_align_intermeds
            ],
            [
                path: { "${params.outdir}/${params.aligner}/alignments/" },
                mode: params.publish_dir_mode,
                pattern: "*.bam",
                enabled: params.save_align_intermeds
            ]
        ]
    }
}
process {
    withName: SAMTOOLS_SORT_NAME {
        ext.prefix = params.skip_deduplication ? { "${meta.id}.name.sorted" } : { "${meta.id}.deduplicated.name.sorted" }
        ext.args = { [ "-n" ].join(' ').trim() }
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/deduplicated/" },
                mode: params.publish_dir_mode,
                pattern: "*.deduplicated.name.sorted.bam"
            ],
            [
                path: { "${params.outdir}/${params.aligner}/alignments/" },
                mode: params.publish_dir_mode,
                pattern: "*.name.sorted.bam",
                enabled: params.skip_deduplication
            ]
        ]
    }
}
