process {
    withName: UMITOOLS_EXTRACT {
        ext.args = { [
            // Static args
            "--quality-encoding=phred33",

            // UMI extraction method
            (params.extract_method == 'regex' ) ? "--extract-method=regex" : "--extract-method=string",
            
            // UMI extraction pattern(s)
            (params.bc_pattern == 'default') ? 
                "--bc-pattern='^(?P<umi_1>.{3})(?P<discard_1>.{2}).*'" : 
                "--bc-pattern=${params.bc_pattern}",
            meta.single_end ? '' : (
                (params.bc_pattern2 == 'default') ? 
                    "--bc-pattern2='^(?P<umi_1>.{3})(?P<discard_1>.{2}).*'" :
                    "--bc-pattern2=${params.bc_pattern2}"
            )
        ].join(' ').trim() }
        publishDir = [
            [
                path: { "${params.outdir}/umitools" },
                mode: params.publish_dir_mode,
                pattern: "*umi_trimmed.fastq.gz"
            ],
        ]
    }
}
