process {
    withName: UMITOOLS_EXTRACT {
        ext.args = { [].join(' ').trim() }
        publishDir = [
            [
                path: { "${params.outdir}/umitools" },
                mode: params.publish_dir_mode,
                pattern: "*umi_trimmed.fastq.gz"
            ],
        ]
    }
}
