includeConfig "../modules/bismark_align.config"
includeConfig "../modules/bismark_deduplicate.config"
includeConfig "../modules/samtools_sort.config"
includeConfig "../modules/samtools_index.config"
includeConfig "../modules/samtools_view.config"
includeConfig "../modules/fragmentomics.config"
includeConfig "../modules/bismark_report.config"
includeConfig "../modules/bismark_summary.config"
